---
---
<!DOCTYPE html>
<html lang="en">
    <head>
      {% include head.html %}
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <h1>Cluster Creator</h1>

                  <form class="form-horizontal" id="options">
                    
                    {% include regions.html %}

                    <h2>Image</h2>

                    {% include os.html %}
                    
                    {% include checkbox_field.html title="Use a Custom AMI?" id="CustomAmi" placeholder="AMI ID: ami-12345" help="Custom AMI's provide a way to customize the cluster. See <a href='https://docs.aws.amazon.com/parallelcluster/latest/ug/pcluster.build-image-v3.html'>Image section.</a>"%}
                    
                    <h2>Head Node</h2>

                    {% include headnode.html %}

                    <h2>Compute Queues</h2>

                    {% include slider.html title="Number of Queues" id='num_queues' min='1' max='5' step='1' default='1' %}

                    {% include queue.html number='1' %}
                    {% include queue.html number='2' %}
                    {% include queue.html number='3' %}
                    {% include queue.html number='4' %}
                    {% include queue.html number='5' %}

                    <h2>Networking</h2>

                    {% include networking.html %}

                    <h2>Storage</h2>
                    {% include selectpicker.html id="shared_storage_type" title="Type of Storage" datafile="storage" %}
                    {% include text_field.html title="Mount Point" placeholder='/shared' id='mount_point' help="Where to mount the filesystem on both Head and Compute Instances."%}
                    {% include checkbox_field.html title="Use Existing Filesystem?" id="use_existing_fs" placeholder="i.e. fsx-1234 or efs-1234" help="Specify an existing fileystem and mount it to all instances in the cluster. See <a href='https://docs.aws.amazon.com/parallelcluster/latest/ug/SharedStorage-v3.html#yaml-SharedStorage-FsxLustreSettings-FileSystemId'>FSx Filesystem ID</a>, <a href='https://docs.aws.amazon.com/parallelcluster/latest/ug/SharedStorage-v3.html#yaml-SharedStorage-EfsSettings-FileSystemId'>EFS Filesystem ID</a>, <a href='https://docs.aws.amazon.com/parallelcluster/latest/ug/SharedStorage-v3.html#yaml-SharedStorage-EbsSettings-VolumeId'>EBS Volume ID</a>" %}
                    {% include fsx.html id="fsx" %}
                    {% include efs.html id="efs" %}
                    {% include ebs.html id="ebs" %}

                  </form>

                </div>

                <div class="col-md-6">
                  {% include cluster_cost.html %}
                  <h3>Generated AWS ParallelCluster Config File</h2>
                  <!-- <span id="copy" class="btn-clipboard" title="" data-original-title="Copy to clipboard" data-content="<img src='/assets/img/aws.svg' width='20px'>"></button> -->
                  <pre><code id="code" class="language-yml"></code></pre>
                  <button type="button" id="download" class="btn btn-success">Download Config</button>
                </div>
            </div>
        </div>


        <!-- Javascript -->
        <script src="/assets/js/lib/jquery-3.5.1.min.js"></script>
        <script src="/assets/js/lib/popper.min.js"></script>
        <script src="/assets/js/lib/bootstrap.min.js"></script>
        <script src="/assets/js/lib/bootstrap-select.min.js"></script>
        <script src="/assets/js/lib/bootstrap-slider.min.js"></script>
        <script src="/assets/node_modules/js-yaml/dist/js-yaml.min.js"></script>
        <script src="/assets/js/lib/prism.js"></script>

        <script src="/assets/js/create.js"></script>
    </body>
</html>
