<title>Cluster Creator</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

<!-- Bootstrap Select -->
<link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">

<!-- Flags -->
<link rel="stylesheet" href="/assets/node_modules/flag-icon-css/css/flag-icon.css">

<!-- Slider -->
<link rel="stylesheet" href="/assets/css/bootstrap-slider.min.css">

<!-- style.css -->
<link rel="stylesheet" href="/assets/css/style.css">

<!-- Code Highlighting -->
<link rel="stylesheet" href="/assets/css/prism.css" />