<div class="form-group">
    <label for="os" class="form-label"><b>Operating System</b></label>
    <select class="selectpicker" id="os">
      <option data-content="<img src='/assets/img/aws.svg' width='20px'> Amazon Linux 2" value="alinux2"></option>
      <option data-content="<img src='/assets/img/centos.svg' width='20px'> Centos 7" value="centos7"></option>
      <option data-content="<img src='/assets/img/ubuntu.svg' width='20px'> Ubuntu 18.04" value="ubuntu1804"></option>
      <option data-content="<img src='/assets/img/ubuntu.svg' width='20px'> Ubuntu 20.04" value="ubuntu2004"></option>
    </select>
</div>