<div class="form-group">
    <label for="{{ include.id }}{%- if include.number -%}_{{ include.number }}{%- endif -%}" class="form-label"><b>{{ include.title }}</b></label>
    <select class="selectpicker pcluster-option" id="{{ include.id }}{%- if include.number -%}_{{ include.number }}{%- endif -%}" class="pcluster-option">
        {% for item in site.data.picker[include.datafile] %}
            <option data-content="<img src='{{ item.image }}' width='30px'> {{item.name}}" value="{{ item.value }}" {{ item.default }}></option>
        {% endfor %}
    </select>
    <small id="{{ include.id }}{%- if include.number -%}_{{ include.number }}{%- endif -%}Help" class="form-text text-muted">{{ include.help }}</small>
</div>